* {
    margin: 0;
    padding: 0;
}

.avatar {
    width: 50px;
    height: 50px;
    margin-top: 8px;
    margin-right: 10px;
    margin-left: 9px;
    border-radius: 100%;
}


body {
    width: 100vw;
    height: 100vh;
}

.body-backgroundcolor-home {
    width: 100vw;
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 36%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    opacity: 50%;
}


.btn {
    padding: 5.0px;
    margin: 1px 1px;
    width: 20%;
    height: 30%;
    border: 10;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%), #333333;
    box-shadow: 0px 11px 7px rgba(0, 0, 0, 0.01), 0px 7px 7px rgba(0, 0, 0, 0.04), 0px 4px 6px rgba(0, 0, 0, 1), 0px, 2px, 4px rgba(0, 0, 0, 0.26), 0px 0px 2px rgba(0, 0, 0, 0.29), inset 0px 2px 3px rgba(255, 255, 255, 0.06);
}

.btn:active {
    animation: press 0.2s 1 linear;
    animation: bounce 0.2s 1 linear;
}

@keyframes press {
    0% {
      transform: scale(0.92);
    }
    50% {
      transform: scale(1);
    }
    to {
      transform: scale(0.92);
    }
  }
  @keyframes bounce {
    50% {
      transform: rotate(0eg) ;
    }
    to {
      transform: scale(0.92) rotate(-0deg);
      opacity: 100;
    }
  }

.btn:hover {
    background-color: rgba(255, 255, 255, 0.50);
    transition: all .5s;
}

#btn-home {
    border: 2px, #FFFFFF;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    background-color: rgb(7, 7, 7);
    box-shadow: 0.1px 0.1px 0.1px #ececec inset;
}

.btn-home {
    display: flex;
    justify-content: center;
    margin: 5px 5px;
}



#btn-home:hover{
    background: linear-gradient(120deg, rgba(197, 197, 197, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%), #3d3d3d;
    transition: all .2s;
    cursor:crosshair;
}

.btn-extra {
    color: black;
    background-color: #675cfd;
    
}

.btn-c {
    font-size: 11px;
    padding: 7px 0px;
    background-color: #675cfd;
}

.btn-ce {
    font-size: 11px;
    padding: 7px 0px;
    background-color: #5448fc;
}

.btn-del {
    font-size: 11px;
    padding: 7px 0px;
    background-color: #877ffc;
}

.btn-division {
    background-color: rgb(250, 28, 28);
}

.btn-division:hover {
    background-color: rgba(255, 105, 105, 0.8);
    transition: all .5s;
}

.btn-multiply {
    background-color: rgb(252, 44, 44);
}

.btn-multiply:hover {
    background-color: rgba(255, 105, 105, 0.8);
    transition: all .5s;
}

.btn-minus {
    background-color: rgb(255, 58, 58);
}

.btn-minus:hover {
    background-color: rgba(255, 105, 105, 1);
    transition: all .5s;
}

.btn-plus {
    background-color: rgb(250, 69, 69);
}

.btn-plus:hover {
    background-color: rgba(255, 105, 105, 1);
    transition: all .5s;
}

.btn-equals {
    background-color: rgb(248, 89, 89);
}

.btn-equals:hover {
    background-color: rgba(255, 105, 105, 1);
    transition: all .5s;
}

.btn-row4 {
    padding: 5.0px 05.3px;;
    border-radius: 50%;
    background-color: #505050;
}

#btn-zero {
    width: 44%;
    border-radius: 50px;
}

.del {
    background-color: #505050;
}

#calculator {
    margin: 2.5px 2.5px;
    height: 77%;
    width: 89%;
    border-radius: 2%;
    padding: 1px 5px;
    background-color: rgb(31, 30, 39);
}

.calculator-row {
    margin: 1.2px 0px;
    padding: 0.5% 0%;
}

.calculator-rows {
    margin: 5px 0px;
    padding: 1% 0%;
    width: 135px;
}


hr {
    height: 0.001px;
    width: 30px;
    margin: 100px, 10px;
    border-color: #cacaca;
    background-color: #cacaca;

    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-plus-minus {
    align-self:auto;
}

.last-operation {
    
    display: flex;
    justify-content: end;
    padding: 3px;
    margin-top: 3px;
    margin-right: 1px;
    height: 15px;
    border-radius: 2px;
    font-size: 12px;
    color: rgb(66, 66, 66);
    background-color:#bebaba;
    box-shadow: .7px .7px .7px #747474 inset;
}

main {
    display: flex;
    justify-content: start;
}

.nav {
    display: flex;
    justify-content: start;
    position:sticky;
    margin: 0;
    padding: 0;
    height: 100px;
    background: linear-gradient(180deg, #1b0600 0%, rgba(217, 217, 217, 0) 100%);
}

.nav:hover {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgb(58, 20, 5) 0%, rgb(58, 34, 25) 35%, rgba(0,212,255,0) 100%);
    transition: all .5s;
}

.name {
    margin-top: 18px;
    font-size: 20px;
    color:#FFFFFF;
}

.notification {
    height: 0px;
    width: 133px;
    display: flex;
    border-radius: 5px;
    background-color: #eedcd7;
    position: absolute;
    top: 6%;
    left: 5%;
    box-shadow: 0px 11px 7px rgba(0, 0, 0, 0.01), 0px 7px 7px rgba(0, 0, 0, 0.04), 0px 4px 6px rgba(0, 0, 0, 1), 0px, 2px, 4px rgba(0, 0, 0, 0.26), 0px 0px 2px rgba(0, 0, 0, 0.29), inset 0px 2px 3px rgba(255, 255, 255, 0.06);
    opacity: 0%;
    rotate: 0deg;
    transition: height 0.3s ease-in-out;
}

.notification:hover {
    height: 35px;
    opacity: 100%;
}

@keyframes example {
    0% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}

.notification-avatar {
    width: 22px;
    height: 22px;
    border-radius: 50px;
    border: solid rgb(148, 147, 147) 0.5px;
    margin: 0.4em 0.2em;
    opacity: 100%;
    transition: opacity 0.2s ease-in-out;
}

.notification-name {
    color: #1b0600;
    font-size: 0.7em;
    padding: 1.1em 0.5em;
}

.notification-bar {
    display: flex;
    justify-content: space-between;
    margin: 8% 3% 0% 3%;
    height: 12px;
    background-color: rgb(5, 5, 5);
}

.notification-apps {
    display: flex;
    justify-content: space-evenly;
    margin: 0% 0%;
}

.notification-system {
    display: flex;
    justify-content: space-evenly;
    margin: 0% 2%;
}

.phone {
    margin: 50px 50px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(14, 13, 13) rgb(173, 173, 173);
    border-radius: 15px;
    padding: 5px 1.5px 2px;
    height: 285px;
    width: 145px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: rgb(5, 5, 5);
    box-shadow: 5px 6px 11px 2px;
    /* box-shadow:  10px 10px 20px #221614; */
}

.phone + .notification:hover {
    animation-name: example;
    animation-duration: .1s;
}

.result {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
    color: #FFFFFF;
    font-size: 20px;
}

.result-box {
    margin-top: 5px;
    width: 128px;
    border-radius: 5%;
    background-color: #101010;
    box-shadow: 1px 1px 1px #3d3d3d inset;
}

.row1 {
    background-color: #303030;
}

.row2 {
    background-color: #333333;
}

.row3 {
    background-color: #404040;
}


