* {
    margin: 0;
    padding: 0;
}
h3 {
    color: red;
    background-color: black;
    font-family: "Source Sans Pro",
    sans-serif;
    margin-top: 0;
}
h3 {
    color: purple;
}
/* top right bottom left */
.noticia {
    border: 2px solid black;
    margin: 2px 30px 30px;
}
#noticias {
    border: 3px solid blueviolet;
    border-radius: 2%;
}
